<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="canonical" href="">
    <meta name="theme-color" content="#310f72">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">   
    <!-- Default Style CSS -->
    <link rel="stylesheet" type="text/css" href="../css/default.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">

    <!-- Global site tag (gtag.js) - AdWords: 1045328140 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1045328140"></script> 
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-1045328140'); </script>
</head>

<body id="wrapper">    
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="index">
              <img class="logo" src="../img/logo.png" alt="로고">COBWEB</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>           
              <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="trade">Market</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="wallet">Wallet</a>
                  </li>                 
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="dashboard" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">                         
                            <a class="dropdown-item" href="#">Open Orders
                        </a>
                            <a class="dropdown-item" href="#">Oeder History
                        </a>
                            <a class="dropdown-item" href="dashboard">Transaction History
                        </a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">             
                    <li class="nav-item dropdown"> <!--회원 정보-->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="profile">
                                <strong>Account</strong><br>
                                <span>johndeo@gmail.com</span>
                            </a>
                            <a class="dropdown-item" href="dashboard">
                                <strong>Estimated Value</strong><br>
                                <span>0.00045402 BTC</span>
                            </a>
                            <a class="dropdown-item" href="index">
                                Logout
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Logout</a>
                    </li>                       
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="banner row">
            <div class="container content">
                <h1>Transaction History</h1>
            </div>
        </div>
    </header>
    <div class="page-container">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="home-data-table">
                        <nav class="nav-justified">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-deposit-tab" data-toggle="tab" href="#nav-deposit" role="tab" aria-controls="nav-deposit" aria-selected="true">Deposit</a>
                                <a class="nav-item nav-link" id="nav-withdraw-tab" data-toggle="tab" href="#nav-withdraw" role="tab" aria-controls="nav-withdraw" aria-selected="false">Withdrawal</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-deposit" role="tabpanel" aria-labelledby="nav-deposit-tab">
                                <table id="hm-data-table" class="table row-border hm-data-table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Coin</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Information</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Pending
                                            </td>
                                            <td>BTC</td>
                                            <td>0.088899</td>
                                            <td>10-5-18</td>
                                            <td>lore ipsum lore ipsum lore ipsum lore ipsum</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-withdraw" role="tabpanel" aria-labelledby="nav-withdraw-tab">
                                <table id="hm-data-table" class="table row-border hm-data-table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Coin</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Information</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Pending
                                            </td>
                                            <td>BTC</td>
                                            <td>0.088899</td>
                                            <td>10-5-18</td>
                                            <td>lore ipsum lore ipsum lore ipsum lore ipsum</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Pending
                                            </td>
                                            <td>BTC</td>
                                            <td>0.088899</td>
                                            <td>10-5-18</td>
                                            <td>lore ipsum lore ipsum lore ipsum lore ipsum</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 links">
                        <ul>
                            <li>
                                <a href="">About</a>
                            </li>
                            <li>
                                <a href="">Terms</a>
                            </li>
                            <li>
                                <a href="">Privacy</a>
                            </li>
                            <li>
                                <a href="">Fees</a>
                            </li>
                            <li>
                                <a href="">Contact</a>
                            </li>
                        </ul>
                    </div>                    
                </div>
                <div class="row copy-bar">
                    <div class="col-md-6 col-xs-12 copy">
                        <p>&copy;2020 COBWEB PROJECT All Rights Reserved</p>
                    </div>                    
                </div>
            </div>
        </footer>       
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
        </script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js">
        </script>
        <!-- Custom Scripts -->
        <script type="text/javascript" src="js/script.js"></script>
</body>
<script type="text/javascript">
$(document).ready(function() {
    $('.hm-data-table').DataTable();
});
</script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
</html>