<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>COBWEB 디지털 자산 거래소</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="canonical" href="">
        <meta name="theme-color" content="#310f72">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <!-- <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">        -->
        <link rel="manifest" href="img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <!-- Default Style CSS -->
        <link rel="stylesheet" type="text/css" href="../css/default.css">
        <link rel="stylesheet" type="text/css" href="../css/responsive.css">
        <!-- Color Skin -->
        <!-- <link rel="stylesheet" type="text/css" id="cpswitch" href="css/skins/default.css"> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../js/price2.js"></script>        
    </head>
    <body id="wrapper">
        <nav class="navbar navbar-expand-lg"> <!--상단 고정 바-->
            <a class="navbar-brand" href="../view/index.html">
                <img class="logo" src="../img/logo.png" alt="로고">COBWEB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>           
                <div class="collapse navbar-collapse" id="navbarToggler">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="../view/trade.html">Market</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../view/wallet.html">Wallet</a>
                    </li>                 
                  </ul>
                  <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="../view/dashbord.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashbord</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">                         
                              <a class="dropdown-item" href="#">Open Orders
                          </a>
                              <a class="dropdown-item" href="#">Oeder History
                          </a>
                              <a class="dropdown-item" href="../view/dashbord.html">Transaction History
                          </a>
                          </div>
                      </li>
                  </ul>
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Join us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/login.html">Login</a>
                    </li>
                    </ul>
                </div>
            </div>
          </nav>
        <header>
            <div class="banner row no-margin">
                <div class="container content">
                    <h1>COBWEB - Exchange The World</h1>
                    <div class="links">
                        <p>
                            <a href="">Create Account</a>
                            <span class="line"></span>
                            Already Registered? <a href="../view/login.html">Login</a>
                        </p>
                    </div>                     
                </div>
            </div>            
        </header>
        <!--Container-->
        <div class="page-container">
            <div class="container">
                <div class="row statistics-widget" id="grid-widget">
                    
                    <!-- <div class="col">
                        <a href="#" class="statistics-widget-link">
                            <div class="statistics-widget-grid">
                                <div class="content">
                                    <h5>NEO/BTC</h5>
                                    <h6>
                                        <strong>0.08735613</strong>
                                        $0.05
                                    </h6>
                                    <p>Volume : 2,290.87 BTC</p>
                                </div>
                                <span class="status green-color">1.68%</span>
                                <div class="chart-bar">
                                    <svg version="1.1" class="highcharts-root" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="translate(0.5,0.5)">
                                            <path id="NEOBTC" stroke="rgba(244,220,174,1)" fill="none" stroke-width="1" d="M0 16 L10 23 L20 22 L30 26 L40 33 L50 32 L60 34 L70 35 L80 39 L90 39 L100 40 L110 40 L120 31 L130 25 L140 25 L150 28 L160 25 L170 23 L180 14 L190 16 L200 11 L210 14 L220 21 L230 0"></path>
                                            <path id="NEOBTCfill" fill="rgba(254,251,245,1)" stroke="none" d="M0 40 L0 16 L10 23 L20 22 L30 26 L40 33 L50 32 L60 34 L70 35 L80 39 L90 39 L100 40 L110 40 L120 31 L130 25 L140 25 L150 28 L160 25 L170 23 L180 14 L190 16 L200 11 L210 14 L220 21 L230 0 L230 40"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="home-data-table"> <!--메인 화면 코인 시세 테이블-->
                            <table id="table_ticker" class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Pair</th>
                                        <th>Last Price</th>
                                        <th>24 Change</th>
                                        <th>24 High</th>
                                        <th>24 Low</th>
                                        <th>24 Volume</th>
                                    </tr>
                                </thead>
                                <tbody class="clickable-row"></tbody>                                                  
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--footer-->        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 links">
                        <ul>
                            <li>
                                <a href="">About</a>
                            </li>
                            <li>
                                <a href="">Terms</a>
                            </li>
                            <li>
                                <a href="">Privacy</a>
                            </li>
                            <li>
                                <a href="">Fees</a>
                            </li>
                            <li>
                                <a href="">Contact</a>
                            </li>
                        </ul>
                    </div>                    
                </div>
                <div class="row copy-bar">
                    <div class="col-md-6 col-xs-12 copy">
                        <p>&copy;2020 COBWEB PROJECT All Rights Reserved</p>
                    </div>                    
                </div>
            </div>
        </footer>    

<!-- Custom Scripts -->
<script type="text/javascript" src="js/script.js"></script>
<!-- <script type="text/javascript">
    $(document).ready(function(){
        document.querySelector(".coinmarketcap-currency-widget>div>div>img").style.display="none"
    })
</script> -->
</body>
</html>
